<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.brunel.team28.maraudersmap">

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission  android:name="android.permission.INTERNET" />

	<application
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".Screens.MyProfile" />
		<activity android:name=".FriendScreen.FriendProfile" />
		<activity android:name=".Screens.AddContacts" />
		<activity android:name=".FriendScreen.FriendList" />
		<activity android:name=".UserCreate.UserCreation"/>
		<activity android:name=".Login.Login"/>
		<activity android:name=".Screens.UpdateUserStatus"/>
		<activity android:name=".Screens.UpdateUserName"/>
		<service android:name=".Geofences.AreWeThereIntentService"/>

	</application>
</manifest>